.message_box_holder{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 360px;
    max-height: 400px;
    overflow-y: auto;
    background: var(--background-color);
    box-shadow: var(--lighter-shadow);
    border-radius: 10px;
    z-index: 999;
    padding-top: 0rem;
}
.schedule_box_holder{
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 360px;
    max-height: 400px;
    background-color: var(--background-color);
    box-shadow: var(--lighter-shadow);
    border-radius: 10px;
    z-index: 999;
    padding-top: 0rem;
}
.message_box{
    position: relative;
    width: 100%;
}
.schedule_box_holder .title,
.message_box .title{
   margin-bottom: 0.5rem;
   background-color: var(--lighter-secondary-color);
   padding: .77rem;
   color: var(--light-text);
   position: fixed;
   right: 2.3rem;
   top: 3rem;
   width: 21.5rem;
   text-align: center;
   margin-bottom: 3rem;
}
.schedule_box_holder .title{
    position:static;
    margin-top: -.1rem;
    margin-bottom: 1rem;
}
.schedule_box_holder .text{
    padding: .4rem;
    padding-bottom: 1.4rem;
    line-height: 1.94rem;
    font-size: 1.2rem;
    
}
.schedule_box_holder .text span{
    font-weight: 600;
    color: var(--secondary-color);
}
.schedule_box_holder .text p{
    color: var(--text-color)
}
.schedule_box_holder .text span small{
    font-size: .9rem;
    color: var(--text-color);
}
.message_box ul{
   padding-left: 1rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 2rem;
   padding-bottom: .7rem;
}
.message_box li{
    display: flex;
    flex-direction: column;
}
.message_box li div{
font-size: .8rem;
}
.message_box li .time{
   font-size: .7rem;
   color: var(--text-color)
}
.message_box .box{
    margin-bottom: 0.5rem;
    background: var(--lighter-secondary-color);
    width: 90%;
    padding: .9rem;
    border-radius: .3rem;
    color: var(--light-text);
}
.iconactive.message_state,
.iconactive.schedule_state{
    cursor: pointer;
    width: 3.4rem !important;
    height: 3.4rem !important;
    font-size: 1.9rem;
    line-height: 3.6rem;
    z-index:11;
    animation: scaleInAndOut 3s infinite;
    position: fixed;
    bottom: 2rem;
}
.iconactive.schedule_state{
    left: 1.4rem;

}
.iconactive.message_state{
    right: 4rem;
}
.schedule_box_holder .fa-times,
.message_box_holder .fa-times{
    position: fixed;
    top: -.3.6rem;
    right: -.3.6rem;
    width: 3rem;
    height: 3rem;
    z-index: 1111;
    background: var(--tetiary-color);
    color: var(--lighter-secondary-color);
}
