.testimony_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: var(--lighter-shadow);
  padding: 3rem;
  width: 60%;
  margin: auto;
  background-color: var(--background-color);
  margin-bottom: 3rem;
  border-radius: 1rem;
}
::placeholder {
  color: rgb(187, 186, 186);
}
.testimony_form_holder {
  background-color: var(--light-text);
  margin-bottom: -3rem;
  padding-block: 5rem;
}
.testimony_form h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--secondary-color);
  text-align: left;
}
.testimony_form h3 {
  color: var(--primary-color);
  margin-block: 1rem;
  margin-top: 2rem;
}
.testimony_form div {
  display: flex;
  margin-bottom: 1rem;
  gap: 0.3rem;
  flex-direction: column;
}

.testimony_form div label {
  font-size: 0.93rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.testimony_form div input,
.testimony_form div textarea {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--black);
  padding: 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid var(--secondary-color);
  outline: 0;
}

.testimony_form div textarea {
  box-shadow: none;
  resize: none;
  height: 8rem;
}

.testimony_form div img {
  width: 70%;
  border-radius: 1rem;
}
.testimony_form select {
  font-size: 1rem;
  border: 1px solid var(--text-color);
  padding: 0.8rem;
  outline: 0;
  font-weight: 300;
}
.testimony_form select option {
  padding: 1rem;
}
input[type="file"] {
  display: none;
}

.testimony_form .btn {
  width: 20rem;
  border: none;
}

.testimony_form .btn::after,
.testimony_form .btn::before {
  width: 24rem;
}

.testimony_form .btn:after {
  top: 5rem;
  left: 5.5rem;
}

.testimony_form .btn:hover::after {
  top: -0.5rem;
  left: 1.9rem;
}

.testimony_form .btn:hover::before {
  top: -2.2rem;
  left: -0.7rem;
}

.testimony_form .btn::before {
  top: -9rem;
  left: -15rem;
}

.testimony_form .btn:hover p {
  color: var(--text-color) !important;
}

.suggestion-item {
  cursor: pointer;
  padding: 0.4rem;
}

.suggestion-item:hover {
  background: var(--primary-color);
  color: var(--light-text);
}

.form-group-media {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form-group-media-div {
  flex: 1; /* Ensures each div takes equal space in the container */
  background-color: red;
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.form-group-media-div img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.form-group-media-div video {
  width: 50%;
  height: auto;
}
.testimonyFormLoader {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  background: var(--video-background);
  z-index: 111;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonyFormLoader .loader {
  width: 8rem;
  height: 8rem;
  background: transparent;
  border-radius: 50%;
  border: 1rem solid var(--primary-color);
  border-left: 1rem solid var(--background-color);
  animation: rotate 3s infinite;
}
.alert_holder {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  background-color: var(--dark-secondary-shadow);
  z-index: 1111;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert {
  width: 15rem;
  height: 11rem;
  background-color: var(--background-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  line-height: 1.5rem;
  padding: 1rem;

}
.alert p {
  color: var(--text-color);
  font-weight: 400;
 
  font-size: 1rem;
}
.alert .btn {
  width: 7rem;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Optional: Add responsive layout adjustments if necessary */
@media (max-width: 768px) {
  .form-group-media {
    flex-direction: column;
  }

  .form-group-media-div {
    width: 100%;
    padding: 0.5rem;
  }
}
