.map{
    padding-top: 2.3rem;
    background: var(--lightbrown);
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-weight: 500;
    align-items: center;
    gap:3rem;
    font-size: 1.2rem;
}
.map .text a{
    color: var(--brown)
}