.AdminSendmessage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 31rem;
}.AdminSendmessage .signup-form
{
    margin-bottom: 3rem;
}
.AdminSendmessage .signup-form .btn{
    border: 0;
}
.baptisim-registrant{
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
