.AdminSendmessage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 31rem;
}.AdminSendmessage .signup-form
{
    margin-bottom: 3rem;
}
label{
    color: var(--light-text)
}
.AdminSendmessage .signup-form .btn{
    border: 0;
}
.baptisim-registrant{
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.baptisim-registrant ul li{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.baptisim-registrant ul li .btns{
    display: flex;
    gap: .3rem;
}
.update_baptisim_form{
    position: fixed;
    z-index: 111;
    top: 20%;
    left:50%;
    transform: translateX(-50%);
    background-color: var(--black);

}
.update_baptisim_form .btns{
    display: flex;
    gap: 3rem;
    width: 100%;
}
.update_baptisim_form .btns button{
    width: 100%;
}
.each-form{
    display: flex;
    flex-direction: column;
    margin-bottom: .6rem;
}
label.btn p{
   margin-top: 0rem;
}