.waterbaptisim{
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  align-items: center;
}
.content-wrapper,
.waterbaptisim .header {
   display: flex;
   justify-content: space-between;
   background-color: var(--background-color);
   width: 100%;
   padding-inline:5.2rem;
   padding-block: 4rem;
   gap: 5%;
  }
  .waterbaptisim .header .text .details{
    display: flex;
    gap: 2rem;
  }

  .waterbaptisim .header img{
    width: 45%;
    margin-left: 2.4rem;
    border-radius: .5rem;
    
  }
.description{
  flex-direction: column;
}
.upcoming-events{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100rem;
}
.upcoming-event{
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
.upcoming-event .text{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.upcoming-event .text h4{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
}
.upcoming-event .text p{
  color: var(--text-color);
  font-size: .92rem;
}
.upcoming-event img{
  width: 90%;
  border-radius: 1rem;
  aspect-ratio: 3/2
}
  .header h1 {
    font-size: 1.5rem;
    margin: 0;
    color: var(--black);

  }
  
  .header p {
    margin-top: 8px;
    color: var(--text-color);
  }
  .description{
    font-size: .95rem;
    color: var(--text-color);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .waterbaptisim label {
    color: var(--light-text);
  }
  
  input,
  select,
  textarea {
    margin-top: 6px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    margin-top: 24px;
    padding: 12px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0052a3;
  }
  
  /* Responsive */
  @media (max-width: 600px) {
    .container {
      margin: 20px;
      padding: 15px;
    }
  
    .header h1 {
      font-size: 1.5rem;
    }
  
    button {
      font-size: 0.95rem;
    }
  }