
.hero {
  position: relative;
  z-index: 0;
  transition: none;
  margin-top: 7rem;
  height: 74vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, var(--secondary-color) 40%,   var(--background-color));
  
  /* Blend mode only works with an image */
  background-blend-mode: multiply;

}
/* .hero1{
  background-image:linear-gradient(var(--tetiary-color), var(--background-color)), url("../../assets/church1.jpg");
}
.hero2{
  background-image: linear-gradient( var(--tetiary-color), var(--background-color)),url("../../assets/church2.jpg");
}.hero3{
  background-image: linear-gradient(var(--tetiary-color), var(--background-color)), url("../../assets/church3.jpg");
}.hero4{
  background-image: linear-gradient(var(--tetiary-color), var(--background-color)), url("../../assets/church4.jpg");
} */
.bubble{
  position: absolute;
  width: 5rem;
  height:5rem;
  box-shadow: inset var(--bubbles-shadow);
  border-radius: 50%; 
  display: flex;
  align-items: center; 
  z-index: -11;
  justify-content: center;
}
.hero .text{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.hero .text .question {
  color: var(--tetiary-color);
  font-size: 1.1rem;
  text-transform: uppercase;
}
.hero .text h1 {
  font-size: 3.4rem;
  line-height: 3.3rem;
  margin-block: 1rem;
  color: var(--light-text);
  text-transform: capitalize;
}
.hero .text h1 span {
  color: var(--tetiary-color);
}
.hero .ps {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 0.8rem;
}
.hero .text p {
  font-size: 0.95rem;
  color: var(--light-text);
  line-height: 1.4rem;
}
.hero .image {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}
.hero .btn p {
  margin-top: .7rem;
  color: var(--light-text);

}
.hero .btn:hover p {
  color: var(--light-text);
}
.image .person {
  width: 41.5rem;
 margin-right: -5.2rem;
}
.image .stars {
  width: 3.5rem;
  position: absolute;
  right: -0.5rem;
  top: 5rem;
  animation: scale 2s infinite;
}
.moveright,
.moveleft{
  position: absolute;
  border: 2px solid var(--primary-color);
  z-index: 111;
  line-height: 2.6rem;
}
.moveright{
  top:50%;
  right:1rem;
}
.moveleft{
  top:50%;
  left:1rem;
}
.hero .iconactive{
   background: var(--tetiary-color);
}
.hero .iconactive:hover{
  background: var(--secondary-color);
  animation: darkiconhover 4s infinite;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes changeWidth {
  0% {
    width: .5rem;
  }
  100% {
    width: 5.5rem;
  }
}
@keyframes bubblemovement {
  0% {
    transform: translateX(0px) translateY(0px) scale(1) ;
  }
  25% {
    transform: translateX(29px) translateY(0px) scale(1.1) ;
  }
  50% {
    transform: translateX(29px) translateY(-22px) scale(.8) ;
  }
   70% {
    transform: translateX(20px) translateY(-22px) scale(1.1) ;
  }
  100% {
    transform: translateX(0px) translateY(0px) scale(1) ;

  }
}
